
body {
    background-color: #b8b8b6;
}

h1 {
    color: teal;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-weight: bold;
}

.placeholder-image {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.about, .contact {
    width: 800px;
}

.btn {
    background-color: teal;
    width: 100px;
}

.card {
    background-color: white;
    margin-top: 50px;
    margin-left: 65px;
    padding-top: 30px;
    padding-left: 20px;
}

.contact {
    height: 500px;
}

.portfolio {
    width: 500px;
}

label {
    color: #8d8d8c;
    font-weight: bold;
}

span.navbar-brand {
    background-color: teal;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-weight: bold;
    margin-left: 50px;
    padding: 10px;
}

.form-control {
    width: 85%;
}